:root {
    --Purple: #F5294B;
    --White: #FFFFFF;
    --Black: #000;
    --Background-light: #f0f2f5;
    --Background-dark: #1C1E21;
    --Text-light: #333333;
    --Text-dark: #FFFFFF;
    --Header: #222222;
    --Backgound-form: #171717;
}

body.dark {
    background-color: var(--Background-light);
    font-family: "Inter", sans-serif;
    margin: 0;
    height: 100vh;

    .info{
        background-color: var(--Background-light);
        color: var(--Text-light);
    }

    section{
        background-color: var(--White);
    }
    .titulo{
        color: var(--Text-light);
    }

    hr{
        border: solid 1px var(--Text-light);
    }

    .tagA{
        color: var(--Text-light);
    }

    .top1 .input-nome,
    .input-descreva,
    input[type="number"],
    input[type="date"],
    input[type="text"]{
        background-color: var(--Background-light);
    }

    .top1 .input-nome,
    .input-descreva,
    input[type="number"],
    input[type="date"],
    input[type="text"]::placeholder{
        color: var(--Text-light);
    }

    input::placeholder{
        color: var(--Text-light);
    }

    .input-descreva::placeholder{
        color: var(--Text-light);
    }

    .tagA{
        background-color: var(--White);
        color: var(--Text-light);
    }

    .tagA:hover {
        color: var(--Purple);
        transition: 0.4s;
    }

    input[type="date"]::-webkit-calendar-picker-indicator {
         filter: invert(0);
         cursor: pointer;
    }
}

body {
    background-color: var(--Black);
    color: var(--Text-dark);
    font-family: "Inter", sans-serif;
    margin: 0;
    height: 100vh;
}

header {
    background-color: var(--Header);
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

input[type="number"],
input[type="date"],
input[type="text"] {
    color: var(--Text-dark);
    background-color: var(--Header);
    width: 404px;
    height: 35px;
    padding: 0 0.5rem;
    border: 1px solid #dddfe2;
    border-radius: 13px;
    font-family: "Inter", sans-serif;
    font-size: 1rem;
    margin-bottom: 0.5rem;
    box-sizing: border-box;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.login {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    margin-right: 20px;
}

.login h1 {
    color: var(--Text-dark);
    text-decoration: none;
    font-size: 14px;
    margin-left: -12px;
}

section {
    background-color: var(--Header);
    color: var(--Text-dark);
    border-radius: 12px;
    margin: 50px 620px 0 30px;
    min-height: 700px;
}

.titulo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: -15px;
}

.titulo h1 {
    font-size: 30px;
}

.categoria {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.categoria img {
    width: 35px;
    height: 40px;
    margin-bottom: 10px;
}

.conteudo {
    display: flex;
    margin: 40px 30px 0 30px;
    gap: 1px;
}

.top1{
    margin-right: 15px;
}

.top1 .input-nome[type="text"],
input[type="number"],
input[type="date"] {
    background-color: var(--Backgound-form);
    border: none;
    font-size: 16px;
    width: 100%;
    max-width: 680px;
    min-width: 120px;
}

.top1 .input-descreva[type="text"] {
    background-color: var(--Backgound-form);
    border: none;
    font-size: 16px;
    margin-top: 20px;
    width: 100%;
    max-width: 685px;
    min-width: 120px;
}

.input-descreva {
    background-color: var(--Backgound-form);
    border: none;
    font-size: 16px;
    margin-top: 20px;
    width: 100%;
    max-width: 685px;
    min-width: 120px;
    height: 440px;
    padding: 15px;
    color: var(--Text-dark);
    border-radius: 12px;
    resize: none;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

.baixo {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

input::placeholder {
    display: flex;
    text-align: left;
    color: var(--Text-dark);
    width: 100%;
}

.input-descreva::placeholder {
    display: flex;
    text-align: left;
    color: var(--Text-dark);
    width: 100%;
}

input[type="text"],
input[type="number"],
input[type="date"] {
    background-color: var(--Backgound-form);
    border: none;
    padding: 30px;
    height: 35px;
    font-size: 16px;
    border-radius: 13px;
}

input::placeholder {
    font-size: 16px;
}

.avaliar img {
    width: 60px;
}

.avaliar {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.avalie[type="text"] {
    width: 100%;
    max-width: 120px;
    min-width: 120px;
}

.input-descreva:focus {
    border-color: var(--Purple);
    box-shadow: 0 0 0 1px var(--Purple);
    outline: none;
    color: var(--Text-dark);
}

input[type="text"]:focus,
input[type="number"]:focus,
input[type="date"]:focus {
    border-color: var(--Purple);
    box-shadow: 0 0 0 1px var(--Purple);
    outline: none;
    color: var(--Text-dark);
}

.enviar {
    display: flex;
    align-items: center;
    justify-content: end;
    margin-top: 420px;
    gap: 15px;
}

.tagA{
    background-color: var(--Header);
    border: none;
    color: var(--White);
    font-family: "Inter", sans-serif;
    font-size: 15px;
    font-weight: 500;
    text-decoration: underline;
}

.tagA:hover {
    color: var(--Purple);
    transition: 0.4s;
}

.editar {
    width: 120px;
    height: 40px;
    padding: 0;
    background-color: var(--Purple);
    color: var(--White);
    border: none;
    border-radius: 14px;
    font-size: 1.1rem;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.1s ease;
    font-family: "Inter", sans-serif;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
}

.editar{
    width: 120px;
    height: 40px;
    padding: 0;
    background-color: var(--Purple);
    color: var(--White);
    border: none;
    border-radius: 14px;
    font-size: 1.1rem;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.1s ease;
    font-family: "Inter", sans-serif;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
}

.editar a {
    text-decoration: none;
    color: var(--Text-dark);
}

.editar:hover {
    background-color: var(--Background-light);
    color: var(--Purple);
}

.editar a:hover {
    color: var(--Purple);
}

#checkboxinput {
    display: none;
}

.toggleswitch {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 50px;
    height: 30px;
    background-color: rgb(82, 82, 82);
    border-radius: 20px;
    cursor: pointer;
    transition-duration: .2s;
    margin-right: 50px;
}

.toggleswitch::after {
    content: "";
    position: absolute;
    height: 10px;
    width: 10px;
    left: 5px;
    background-color: transparent;
    border-radius: 50%;
    transition-duration: .2s;
    box-shadow: 5px 2px 7px rgba(8, 8, 8, 0.26);
    border: 5px solid white;
}

#checkboxinput:checked + .toggleswitch::after {
    transform: translateX(100%);
    transition-duration: .2s;
    background-color: white;
}

#checkboxinput:checked + .toggleswitch {
    background-color: var(--Purple);
    transition-duration: .2s;
}

input[type="date"]::-webkit-calendar-picker-indicator {
     filter: invert(1);
     cursor: pointer;
}


/* botao logout do uiverse */

.Btn {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 45px;
  height: 45px;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition-duration: .3s;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.199);
  background-color: var(--Purple);
}

.sign {
  width: 100%;
  transition-duration: .3s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sign svg {
  width: 17px;
}

.sign svg path {
  fill: white;
}

.text {
  position: absolute;
  right: 0%;
  width: 0%;
  opacity: 0;
  color: white;
  font-size: 1.2em;
  font-weight: 600;
  transition-duration: .3s;
}

.Btn:hover {
  width: 125px;
  border-radius: 40px;
  transition-duration: .3s;
}

.Btn:hover .sign {
  width: 30%;
  transition-duration: .3s;
  margin-left: 7px;
}

.Btn:hover .text {
  opacity: 1;
  width: 70%;
  transition-duration: .3s;
  padding-right: 10px;
}

.Btn:active {
  transform: translate(2px ,2px);
}

@media screen and (max-width: 1324px){

    section{
        margin: 30px;
    }

    .conteudo{
        flex-direction: column;
        gap: 30px;
    }

    .top1{
        width: 100%;
    }

    input[type="text"],
    .input-descreva{
        width: 100%;
    }

    .enviar{
        margin-top: 30px;
        justify-content: flex-end;
    }

    .baixo {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
    }


    .avaliar{
        justify-content: flex-start;
        margin-top: 20px;
    }
}


@media screen and (max-width: 768px){

    body{
        height: auto;
    }

    header{
        flex-direction: column;
        height: auto;
        padding: 15px;
        gap: 15px;
    }

    header img{
        width: 140px;
    }

    .header{
        width: 100%;
        justify-content: space-between;
    }

    .login{
        gap: 10px;
        margin-right: 0;
    }

    .login h1{
        font-size: 12px;
    }

    section{
        margin: 15px;
        min-height: auto;
    }

    .titulo h1{
        font-size: 24px;
    }

    .categoria img{
        width: 28px;
        height: 32px;
    }

    .conteudo{
        flex-direction: column;
        margin: 20px;
        gap: 20px;
    }

    .top1{
        width: 100%;
    }

    input[type="text"]{
        width: 100%;
        height: 45px;
        padding: 12px;
        font-size: 14px;
    }

    .input-descreva{
        width: 100%;
        height: 220px;
        font-size: 14px;
    }

    .avaliar{
        justify-content: flex-start;
        gap: 10px;
    }

    .avaliar img{
        width: 40px;
    }

    .avalie[type="text"]{
        max-width: 90px;
        min-width: 90px;
    }

    .enviar{
        margin-top: 25px;
        flex-direction: column;
        align-items: stretch;
    }

    .enviar a{
        text-align: center;
    }

    button{
        width: 100%;
        height: 45px;
        font-size: 1rem;
    }

    .toggleSwitch{
        margin-right: 0;
    }
}

@media screen and (max-width: 480px){

    .titulo{
        flex-direction: column;
        align-items: flex-start;
    }

    .categoria{
        justify-content: flex-start;
    }

    .login{
        flex-direction: column;
        align-items: flex-end;
        gap: 2px;
    }

    .login h1{
        font-size: 11px;
    }

    .input-descreva{
        height: 180px;
    }
}