<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro - CineStar</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/registro.css}">
</head>
<body>
<div class="container">
    <div class="login-section">
        <h1>Comece agora!</h1>
        <p>Preencha os campos abaixo para criar sua conta:</p>
        <form id="registerForm" th:object="${user}" method="post" th:action="@{/salvar}">
            <input type = "hidden" th:field="*{id}">

            <div class="input-group">
                <label for="nome">Nome:</label>
                <input type="text" id="nome" name="nome" placeholder="Digite seu nome"  th:field="*{nome}" required>
            </div>
            <div class="input-group">
                <label for="nome">Username:</label>
                <input type="text" id="Username" name="Username" placeholder="Digite seu Username" th:field="*{username}" required>
            </div>
            <div th:if="${mensagemErroUsername}" class="erro">
                <p th:text="${mensagemErroUsername}"></p>
            </div>
            <div class="input-group">
                <label for="email">E-mail:</label>
                <input type="email" id="email" name="email" placeholder="Digite seu e-mail" th:field="*{email}"required>
            </div>
            <div th:if="${mensagemErroEmail}" class="erro">
                <p th:text="${mensagemErroEmail}"></p>
            </div>
            <div class="input-group">
                <label for="senha">Senha:</label>
                <input type="password" id="senha" name="senha" placeholder="Senha" th:field="*{senha}"required>
            </div>
            <button type="submit">Registrar</button>
            <p>Já tem uma conta? <a class="login" th:href="@{/}">Já possui conta?</a></p>
            <div class="tema">
                <input type="checkbox" id="checkboxinput">
                <label for="checkboxinput" class="toggleswitch"></label>
            </div>
        </form>
    </div>
    <div class="image-section">
    </div>
</div>
<script>
    const checkbox = document.getElementById("checkboxinput");
const loginSection = document.querySelector(".login-section");

// tema salvo
const tema = localStorage.getItem("theme") || "light";

if (tema === "dark") {
  loginSection.classList.add("dark");
  checkbox.checked = true;
}

checkbox.addEventListener("change", () => {
  const isDark = checkbox.checked;

  loginSection.classList.toggle("dark", isDark);
  localStorage.setItem("theme", isDark ? "dark" : "light");
});
</script>
</body>
</html>
