<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
    <h1>Login</h1>
    <form method="post" th:action="@{/login}">
        <label>Email</label>
        <input type="email" name="email" required autofocus/>

        <label>Senha</label>
        <input type="password" name="password" required/>

        <button type="submit">Entrar</button>
    </form>
        <div th:if="${mensagemErro}">
            <p th:text="${mensagemErro}"></p>
        </div>
        <a>Ainda não possui uma conta? </a><a th:href="@{/cadastro}">Cadastre-se aqui</a>
    </form>

</body>
</html>