<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/avaliar.css}">
    <title>Home - CineStar</title>
</head>
<body>
<header>
    <img src="/css/images/logo.svg" alt="">

    <div class="header">
        <input type="checkbox" id="checkboxinput">
        <label for="checkboxinput" class="toggleswitch"></label>
        <div class="login">
            <h1>Username:</h1>
            <h1 th></h1>
        </div>
    </div>
</header>

<main>
    <section>
        <div class="titulo">
            <div class="categoria">
                <h1>Avalie</h1>
                <img src="/css/images/Fire.png" alt="">
            </div>
        </div>
        <hr>

        <form class="conteudo" th:object="${review}" method="post" th:action="@{/salvarReview}" >
            <div class="top1">
                <input type="text" class="input-nome" th:field="*{nomeFilme}" placeholder="Nome do filme:" required>
                <textarea class="input-descreva" th:field="*{reviewDesc}" placeholder="Escreva aqui:"></textarea>
            </div>
            <div class="top1">
                <input type="date" class="input-nome"  th:field="*{dataAssistido}" placeholder="Data:">
                <textarea class="input-descreva" th:field="*{urlCapaFilme}" placeholder="URL da imagem:" required></textarea>
            </div>
            <div class="bottom">
                <div class="avaliar">
                    <img src="/css/images/Star%204.svg" alt="Estrela rosa">
                    <input th:field="*{nota}" class="avalie" max="5" min="1" type="number"  placeholder="Nota:" required>
                </div>

                <div class="enviar">
                    <a class="limpar" href="#">Limpar Dados</a>
                    <button type="submit">Confirmar</button>
                </div>
            </div>
        </form>
    </section>
</main>
<script>
    const checkbox = document.getElementById("checkboxinput");

const tema = localStorage.getItem("theme") || "light";

if (tema === "dark") {
    document.body.classList.add("dark");
    checkbox.checked = true;
}

checkbox.addEventListener("change", () => {
    const isDark = checkbox.checked;

    document.body.classList.toggle("dark", isDark);
    localStorage.setItem("theme", isDark ? "dark" : "light");
});
</script>
</body>
</html>